:root {
    --clr-one: rgb(55, 58, 64);
    --clr-two: rgb(238, 238, 238);
    --clr-three: rgb(220, 95, 0);
    --clr-four: rgb(30, 30, 236);

    --fs-title: 1.55rem;
    --fs-footer: 1.2rem;

    --link-padding-y: 3px;
    --link-padding-x: 4.5px;
    --link-border-radius: 7px;

    --main-margin-y: 1.75rem;
    --card-width: 220px;
    --card-border-radius: 6px;
    --row-gap: 2rem;
    --column-gap: 0.5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font: inherit;
}

body,
h1,
h2,
p,
figure {
    margin-block: 0;
    margin-inline: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: inherit;
    border: none;
    font: inherit;
}

button:hover {
    cursor: pointer;
}

/* Utility Classes */

.display-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* For accessibility reasons, it means screen readers only */
.sr-only {
    display: none;
}

header {
    background-color: var(--clr-one);
    padding: 1.5rem 3.75rem 2rem 3.75rem;
    position: sticky;
    top: 0;
}

h1 {
    color: var(--clr-two);
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: var(--fs-title);
    font-style: normal;
}

.cart-link {
    background-color: var(--clr-two);
    border-radius: var(--link-border-radius);
    padding: var(--link-padding-y) var(--link-padding-x);
    position: relative;
}

.total-products {
    background-color: red;
    border-radius: 3px;
    color: var(--clr-two);
    font-size: 1.15rem;
    padding: 1px 3px;
    position: absolute;
    right: -8px;
    top: -12px;
}

main {
    display: grid;
    margin: var(--main-margin-y) auto;
    width: 80%;
}

.increment-number {
    color: green;
}

.decrement-number {
    color: red;
}

footer {
    font-size: var(--fs-footer);
    margin-bottom: 15px;
    text-align: center;
}

.attribution-link {
    color: var(--clr-four);
}
