.empty-alert {
    font-size: var(--fs-title);
    font-weight: bolder;
    text-align: center;
}

.home-btn {
    background-color: var(--clr-one);
    border-radius: 3.5px;
    color: var(--clr-two);
    margin: 10px auto;
    padding: 4px 8px;
    width: fit-content;
}

.home-btn:hover {
    cursor: pointer;
}

main {
    place-content: center;
    gap: 1rem;
}

.total-bill {
    text-align: center;
    margin-bottom: 1.2rem;
    font-size: var(--fs-title);
    font-weight: bolder;
}

.user-options {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.checkout-btn,
.clear-btn,
.home-btn {
    color: var(--clr-two);
    padding: 4px;
    border-radius: 4px;
}

.checkout-btn {
    background-color: green;
}

.clear-btn {
    background-color: red;
}

.user-options > .home-btn {
    margin: 0;
    background-color: gray;
}

.label {
    --min-label-width: 310px;
    --label-img-width: 100px;
    --fs-label-name: 1.15rem;

    display: flex;
    gap: 17px;
    border: var(--clr-one) 2px solid;
    border-radius: 7px;
}

.label-img {
    width: var(--label-img-width);
    aspect-ratio: 1 / 1;
}

.label-name,
.label-total-cost {
    font-size: var(--fs-label-name);
    font-weight: bold;
}

.label-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-block: 10px;
}

.cancel-btn {
    margin-left: auto;
    margin-top: 10px;
    color: red;
    align-self: flex-start;
}

@media (width > 768px) {
    .label {
        min-width: var(--min-label-width);
    }
}
