:root {
    --clr-one: rgb(55, 58, 64);
    --clr-two: rgb(238, 238, 238);
    --clr-three: rgb(220, 95, 0);

    --fs-title: 1.55rem;

    --link-padding-y: 3px;
    --link-padding-x: 4.5px;
    --link-border-radius: 7px;

    --card-width: 220px;
    --card-border-radius: 6px;
    --row-gap: 2rem;
    --column-gap: 0.5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font: inherit;
}

body,
h1,
h2,
p {
    margin-block: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

button {
    background-color: inherit;
    border: none;
    font: inherit;
}

button:hover {
    cursor: pointer;
}

/* Utility Classes */

.display-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* For accessibility reasons, it means screen readers only */
.sr-only {
    display: none;
}

header {
    background-color: var(--clr-one);
    padding: 1.5rem 3.75rem 2rem 3.75rem;
    position: sticky;
    top: 0;
}

h1 {
    color: var(--clr-two);
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: var(--fs-title);
    font-style: normal;
}

.cart-link {
    background-color: var(--clr-two);
    border-radius: var(--link-border-radius);
    padding: var(--link-padding-y) var(--link-padding-x);
    position: relative;
}

.total-products {
    background-color: red;
    border-radius: 3px;
    color: white;
    font-size: 1.15rem;
    padding: 1px 3px;
    position: absolute;
    right: -8px;
    top: -12px;
}

main {
    column-gap: var(--column-gap);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--card-width), 1fr));
    justify-items: center;
    margin: 1.75rem auto;
    row-gap: var(--row-gap);
    width: 80%;
}

.card {
    border-radius: var(--card-border-radius);
    border: solid 2px var(--clr-three);
    max-width: var(--card-width);
}

.card-body {
    padding: 0.6rem;
    --fs-name: 1.25rem;
    --fs-price: 1.75rem;
    --fs-description: 1.075rem;
    --fs-order-section: 1.35rem;

    --padding-x-description: 0.85rem;
}

.product-name {
    font-size: var(--fs-name);
    font-weight: bolder;
}

.product-description {
    font-size: var(--fs-description);
    margin-block: var(--padding-x-description);
}

.product-price {
    font-size: var(--fs-price);
    font-weight: bolder;
}

.order-commands {
    align-self: center;
    font-size: var(--fs-order-section);
}

.increment-number {
    color: green;
}

.decrement-number {
    color: red;
}
